# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

web/uploads/users/avatars/*.jpg
!web/uploads/users/avatars/default_avatar.jpg

web/uploads/.thumbs/*
web/uploads/images/*
web/uploads/products/*

#db params
config/db.php
